doctype html
head
  title Sandwich API!!!
body
  header
    h1 This is an api for best sandwiches around
    div 
      h2 Method - GET 
      p "/" Docs
      p "/restname" Show Restaurants
      p "/restname/param" Show sought after sandwich 
    
      
    
      