doctype html
head 
  title Restaurants
body 
    h1 Restaurant Name
    div
      h2 1) #{rest1}
      p Address: 44 Province St, Boston, MA 02108
    div
      h2 2) #{rest2}
      p Address: 324 Main St, Medford, MA 02155
    div
      h2 3) #{rest3}
      p Address: 1918 Beacon St, Brighton, MA 02135