doctype html
head 
  title Form
body 
form(action='submit', method='POST')
      p
      div
        form(action='/suggestion', method='POST')
          label Please make a suggestion: 
            input(type='text', name='suggestion')
            button(type='submit') Submit
